
<h1>This is ng - template test!!!</h1>
<hr />


<ng-template>
  <button class="tab-button"
          (click)="login()">
    {{loginText}}
  </button>
  <button class="tab-button"
          (click)="signUp()">
    {{signUpText}}
  </button>
</ng-template>

<hr />
<div style="display:flex; justify-content:space-around">
  <div style="margin-top:25px">
    <h1>Hey Guys ...!!!</h1>

    <p>Guess my wife Name...:)</p>

    <button (click)=mywife()>Click to Find out</button>


    <h1 style="color:chocolate">{{wife}}</h1>
    <h1 style="color:khaki">{{lastName}}</h1>
    <h1 style="color:navy">{{surName}}</h1>

    <div>

      <h3>{{message}}</h3>  <span *ngIf="isJennifer==true"><img style="height:200px;width:200px" src="../assets/JL.jpg" alt="JLDarling" /></span>
    </div>
  </div>
</div>


<div>
  <button (click)="subsubscribe()">SubjectSubscribe</button>

  Subject data is {{ subDataOne }}
</div>
<div>
  <button (click)="behavsubsubscribe()">BehaviorSubjectSubscribe</button>

  Behaviour Subject data is {{behavsubDataOne}}
</div>

