<mat-toolbar color="primary" style="display:flex; justify-content:space-between">

  <!--<mat-toolbar-row>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>-->
  <div>
    <h1>Hello World ...!!!</h1>
  </div>

  <div>
    <a routerLink="">HOME</a>
    <a routerLink="googleapi">GOOGLEAPI</a>
  </div>
  <div>
    <a routerLink="/contact">CONTACT</a>
    <a routerLink="family">FAMILY</a>

  </div>


  
</mat-toolbar>
